@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Palette */
:root {
  --primary: #ffd700;
  --secondary: #232f3e;
  --accent: #4b5563;
  --success: #00c853;
  --error: #f44336;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  @apply dark:text-primary dark:hover:text-yellow-600  text-blue-500 hover:text-blue-700;
}
input,
select,
textarea {
  @apply rounded border p-2 outline-none ring-indigo-300 focus:ring dark:bg-gray-600;
}
.dropdown-link {
  @apply flex p-2 hover:bg-gray-200 dark:hover:bg-gray-900;
}

.card {
  @apply mb-5 block rounded-lg border border-gray-200 bg-white    shadow-md hover:bg-gray-100   dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700;
}

.center-content {
  @apply flex flex-col items-center justify-center;
}
.primary-button {
  @apply rounded bg-primary text-black py-2 px-4 shadow outline-none hover:bg-yellow-500  active:bg-yellow-600;
}
.default-button {
  @apply rounded bg-gray-100 py-2  px-4 text-black dark:text-black shadow outline-none hover:bg-gray-200  active:bg-gray-300;
}
.alert-success {
  @apply m-3 rounded-lg bg-success p-3 text-green-700;
}

.alert-error {
  @apply my-3 rounded-lg bg-error p-3 text-red-700;
}
